/* .pp1{
  width: 200px;
  margin: 30px;

} */

.main_img{
  /* background: rgb(223, 220, 228); */
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.card img{
  background: #000;
  width: 200px;
  height: 200px;
}

.card{
  justify-content: space-between;
  background: blue;
  height: 200px;
  width: 200px;
}