.main_footer{
  /* background: rgb(201, 212, 185); */
  justify-content: center;
}

.footer{

  justify-content: space-around;
  display: flex;
}

.footer_c li{
  list-style-type: none;
}

.footer_d li{
  list-style-type: none;
}