.model_s {
  padding-top: 50px;
  /* background: url('../../img/tr2.png'); */
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  font-family: "Poppins";
  align-items: center;
  justify-content: center;
}

.model_s .img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.model_s h2,
p {
  justify-content: center;
  text-align: center;
}

p a {
  text-decoration: none;
  color: black;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  height: 30px;
  width: 320px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.btn button:first-child{
  background: rgb(66, 63, 63);
  color: azure;
}
.btn button:last-child{
  background: rgba(109, 106, 106, 0.65);
  color: #000;
}
